* {
    font-family: 'Inter', sans-serif;
}
  
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
  
body {
    background-color: #ffffff;
}
  
header {
    background-color: #FFDE59;
    width: 100%;
    height: 60px;
    top: 0;
    position: relative;
    z-index: 1;
    padding: 12px 0;
    align-items: center;
  
}
 
nav {
    width: 90%;
    height: 35px;
    margin: auto;
}
  
.navbar {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}
  
.logo {
    display: block;
    position: absolute;
    width: 190px;
    display: flex;
    align-items: center;
    bottom: 8px;
}
  
.logo-img {
    width: 50px;
}
  
ul .navbar li {
    margin-left: 50px;
    margin-top: 8px;
}
  
ul .navbar li a {
    font-size: 15px;
    color: #08092a;
}
  
.l-c {
    position: absolute;
    display: flex;
    right: 80px;
    margin-top: 8px;
}
  
.l-c .login li a{
    margin-right: 30px;
    color: #08092a;
}
  
.l-c .cadastro{
    color: #08092a;
}
  
.l-c .cadastro li a {
    padding: 8px;
    color: #fff;
    border-radius: 10px;
    background-color: #08092a;
}

.background-img {
    position: relative;
}

.conteudo1 {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

.conteudo1 .cont-esq{
    width: 50%;
    margin-left: 50px;
}

.conteudo1 .cont-dir{
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.titulo1 h1{
    color: #08092a;
}

.contato-img {
    width: 400px;
}

.contato {
    margin-top: 50px;
}

.form {
    margin-top: 20px;
}

.form p {
    font-size: 13px;
    margin-left: 8px;
    margin-bottom: 5px;

}

.formemail p {
    font-size: 13px;
    margin-left: 6px;
    margin-bottom: 5px;

}

.form input:nth-child(2) {
    font-size: 15px;
    border: 1px solid #08092a;
    background-color: #FFDE59;
    border-radius: 10px;
    width: 500px;
    height: 30px;
}

.form input, textarea {
    outline: none;
}

.form-msg input {
    font-size: 15px;
    border: 1px solid #08092a;
    background-color: #FFDE59;
    border-radius: 10px;
    width: 500px;
    height: 60px;
}

.form-msg input, textarea {
    outline: none;
}

.form-msg p {
    font-size: 13px;
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.form-sbt input {
    font-size: 15px;
    border: 1px solid #08092a;
    background-color: #FFDE59;
    border-radius: 10px;
    width: 500px;
    height: 40px;
    cursor: pointer;
    margin-top: 50px;
    background-color: #08092a;
    color: #fff;
}

.form-sbt input:hover {
    background-color: #0e1048;
}

.form-msg input, textarea {
    outline: none;
}

.fundo {
    position: absolute;
    background-color: #FFDE59;
    width: 100%;
    height: 100%;
}

.contato1 {
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
}

.contato1 p{
    font-size: 15px;
}

.contato-svg{
    width: 20px;
    margin-right: 10px;
    display: flex;
}