* {
  font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
  background-color: #ffffff;
}

header {
  background-color: #FFDE59;
  width: 100%;
  height: 60px;
  top: 0;
  position: relative;
  z-index: 1;
  padding: 12px 0;
  align-items: center;

}

nav {
  width: 90%;
  height: 35px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.logo {
  display: block;
  position: absolute;
  width: 190px;
  display: flex;
  align-items: center;
  bottom: 8px;
}

.logo-img {
  width: 50px;
}

ul .navbar li {
  margin-left: 50px;
  margin-top: 8px;
}

ul .navbar li a {
  font-size: 15px;
  color: #08092a;
}

ul .navbar li a::after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  background-color: #000000;
  width: 0;
  transition: 0.3s;

}

ul .navbar li a:hover::after{
  width: 100%;
  left: 0;
}

.l-c {
  position: absolute;
  display: flex;
  right: 80px;
  margin-top: 8px;
}

.l-c .login li a{
  margin-right: 30px;
  color: #08092a;
}

.l-c .cadastro{
  color: #08092a;
}

.l-c .cadastro li a {
  padding: 8px;
  color: #fff;
  border-radius: 10px;
  background-color: #08092a;
}

.conteudo1 {
  width: 100%;
  height: 500px;
  background-color: #FFDE59;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo1 .text-banner {
  position: absolute;
  width: 70%;
}

.conteudo1 .text-banner ul li h1{
  font-size: 45px;
  color: #333;
}

.conteudo1 .text-banner ul li h2{
  font-size: 45px;
  color: #08092a;
}

.conteudo1 .text-banner ul li p{
  font-size: 14px;
  margin-top: 20px;
  color: #717171;
  width: 450px;
}


.conteudo1 .banner {
  position: absolute;
  right: 0;
  width: 50%;
}

.conteudo1 .banner .banner-img {
  display: block;
  margin: auto;
  width: 350px;
  margin-top: 50px;
}

.botao {
  position: absolute;
  padding: 1.1em 2em;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #08092a;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.botao:hover {
  color: #fff;
  transform: translateY(-7px);
}


.cardapio{
  display: none;
}

.conteudo2 {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.conteudo2 .text1 h1{
  color: #333;
  font-size: 30px;
}

.conteudo2 .text1 p{
  margin-top: 10px;
  color: #717171;
  font-size: 14px;
}

.conteudo2 .clientes-img {
  width: 1100px;
  margin-top: 20px;
}

.conteudo2 .text2 h1{
  color: #333;
  font-size: 25px;
  margin-top: 20px;
}

.conteudo2 .text2 p{
  margin-top: 10px;
  color: #717171;
  font-size: 14px;
}

.text-flex {
  margin-top: 30px;
  justify-content: center;
  display: flex;
}

.info1 {
  margin: 0px 100px 0px 100px;
  width: 300px;
}

.info1 h2{
  color: #333;
  margin-top: 10px;
}

.info1 p{
  color: #717171;
}

.info2 {
  margin: 0px 100px 0px 100px;
  width: 300px;
}

.info2 h2{
  color: #333;
  margin-top: 10px;
}

.info2 p{
  color: #717171;
}

.info3 {
  margin: 0px 100px 0px 100px;
  width: 300px;
}

.info3 h2{
  color: #333;
  margin-top: 10px;
}

.info3 p{
  color: #717171;
}

.text-flex1 {
  display: flex;
  position: relative;
  height: 400px;
  margin: auto;
  width: 80%;
}

.pessoas1-img {
  margin-top: 50px;
  width: 400px;
  position: absolute;
  left: -40px;
}

.p-text {
  width: 60%;
  margin-top: 120px;
  position: absolute;
  right: 20px;
}

.p-text h1{
  color: #333;
  margin-bottom: 10px;
}

.p-text p{
  color: #717171;
}

.botao1 {
  position: absolute;
  padding: 1.1em 2em;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #08092a;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 40px;
}

.botao1:hover {
  color: #fff;
  transform: translateY(-7px);
}

.conteudo4 {
  width: 100%;
  height: 300px;
  background-color: #FFDE59;
  margin-top: 50px;
}

.c-cont {
  position: relative;
  width: 80%;
  margin: auto;
}

.c-cont .text-flex2{
  position: absolute;
  left: 0;
  width: 50%;
  margin: auto;
  margin-top: 90px;
}

.c-cont .text-flex2 h1{
  color: #08092a;
}

.c-cont .text-flex2 p{
  color: #333;
}

.c-cont .dados{
  position: absolute;
  right: 0;
  width: 50%;
  margin: auto;
  margin-top: 60px;
}

.p-text1 {
  width: 60%;
  margin-top: 150px;
  position: absolute;
  right: 20px;
}

.p-text1 h1{
  color: #333;
  margin-bottom: 10px;
}

.p-text1 p{
  color: #717171;
}

.conteudo6 {
  width: 100%;
  margin-top: 100px;
  background-color: #FFDE59;
  height: 250px;
}

.text-n {
  position: absolute;
  margin-top: 30px;
}

.text-n h1{
  color: #08092a;
  margin-bottom: 15px;
}

.text-n p{
  color: #333;
}

.emp-img {
  position: absolute;
  width: 120px;
  margin-top: 180px;
}

footer {
  position: absolute;
  width: 100%;
  height: 350px;
  background-color: #263238;
}

.conts {
  position: relative;
  display: flex;
  margin: auto;
  width: 80%;
  margin-top: 70px;
}

.logo1 {
  width: 200px;
  display: flex;
  align-items: center;
}

.logo1 h1{
  color: #fff;
}

.text3 {
  margin-top: 30px;
  color: #FFDE59;
  font-size: 15px;
  margin-left: 10px;
}

.text3 p {
  display: block;
  margin-top: 10px;
}

.cont-f2 {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 400px;
}

.titulo-f1 h1{
  color: #fff;
  font-size: 25px;
}

.text5 a{
  display: block;
  margin-top: 15px;
  color: #FFDE59;
  font-size: 13px;
}

.text5 a:hover{
  text-decoration: underline;
}


.cont-f3 {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.titulo-f3 h1{
  color: #fff;
  font-size: 25px;
}

.text7 a{
  display: block;
  margin-top: 15px;
  color: #FFDE59;
  font-size: 13px;
}

.text7 a:hover{
  text-decoration: underline;
}

.cont-f4 {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.titulo-f4 h1{
  color: #fff;
  font-size: 25px;
}

.text9 a{
  display: block;
  margin-top: 15px;
  color: #FFDE59;
  font-size: 13px;
}

.text9 a:hover{
  text-decoration: underline;
}

.coisas{
  display: flex;
}

.tamanho{
  height: 250px;
  align-items: baseline;
}

@media only screen and (max-width: 1200px) {

  body{
   max-width: 100%;
  }

  header{
    width: 100%;
  }
  
  .conteudo2 .clientes-img {
    width: 900px;
    margin-top: 20px;
  }

  .dados-img{
    width: 100%;
  }

  ul .navbar li a {
    font-size: 13px;
    color: #08092a;
}

.l-c .cadastro li a {
  font-size: 13px;
}

.l-c .login li a {
  font-size: 13px;

}

.cont-f4,  .cont-f3,  .cont-f2{
    width: 150px;
}

.p-text h1 {
  font-size: 25px;
}

.text-flex2 ul li p{
  font-size: 14px;
}

.p-text p {
  font-size: 15px;
}

.botao1 {
  margin-top: 30px;
  font-size: 10px;
}

.pessoas1-img {
  width: 360px;
}

.conteudo1 .banner .banner-img {
  width: 300px;
}

}

@media only screen and (max-width: 960px) {

  .conteudo1 .banner .banner-img {
    width: 250px;
  }

  .conteudo1 .text-banner ul li h1{
    font-size: 35px;
    color: #333;
  }
  
  .conteudo1 .text-banner ul li h2{
    font-size: 35px;
    color: #08092a;
  }

  .conteudo1 {
    height: 350px;
  }

  ul .navbar li:first-child{
    margin-left: 0;
  }

  .l-c .login li a {
    margin-right: 20px;
}

  ul .navbar li {
    margin-left: 20px;
  }

  .conteudo2 .clientes-img {
    width: 700px;
  }

  .conteudo1 .text-banner ul li p {
    width: 350px;
    font-size: 13px;
  }

  .botao{
    font-size: 9px;
  }

  .l-c {
    right: 60px;
  }

  .info2 h2, .info1 h2, .info3 h2 {
    font-size: 17px;
  }

  .info2{
    margin: 0px 40px 0px 40px;
  }

  .info1{
    margin: 0px 40px 0px 100px;
  }

  
  .info3{
    margin: 0px 100px 0px 40px;
  }

  .pessoas1-img {
    width: 320px;
  }

  .p-text h1 {
    font-size: 20px;
  }

  .conteudo2 .text2 p{
    font-size: 12px;
  }

  .p-text{
    margin-top: 90px;
  }

  .p-text p {
    font-size: 14px;
  }

  .botao1 {
    margin-top: 20px;
  }

  .conteudo4 {
    margin-top: 0px;
  }

  .c-cont .text-flex2 h1 {
    font-size: 28px;
  }
  
  .text-flex2 ul li p {
    font-size: 14px;
  }

  .text-flex1a {
    display: flex;
    position: relative;
    height: 350px;
    margin: auto;
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .p-text1 h1 {
    font-size: 25px;
  }

  .p-text1 p {
    font-size: 14px;
  }

  .cont-f4,  .cont-f3,  .cont-f2{
    width: 120px;
  }

  .text5 a {
    font-size: 11px;
  }

  .text7 a {
    font-size: 11px;
  }

.text9 a {
  font-size: 11px;

  }

  .text3 p {
    font-size: 13px;
  }

}


@media only screen and (max-width: 768px) {
  ul .navbar li a {
    font-size: 11px;
}

.l-c {
  right: 30px;
}

.l-c .login li a {
  font-size: 11px;
  margin-right: 10px;
}

.l-c .cadastro li a {
  font-size: 11px;
}

.logo li h1{
  font-size: 20px;
}

.logo-img {
  width: 30px;
}

.logo{
  bottom: initial;
}

.conteudo1 .banner .banner-img {
  width: 200px;
}

.conteudo1 .text-banner ul li h1 {
  font-size: 27px;
}

.conteudo1 .text-banner ul li h2 {
  font-size: 27px;
}

.conteudo1 .text-banner ul li p {
  width: 270px;
  font-size: 11px;
}

.botao {
  font-size: 8px;
}


.conteudo2 .text1 h1 {
  font-size: 25px;
}


.conteudo2 .text1 p {
  font-size: 13px;
}


.conteudo2 .clientes-img {
  width: 520px;
}


.conteudo2 .text2 h1 {
  font-size: 20px;
  margin-top: 10px;
}

.iconetext{
  width: 50px;
}

.info2 h2, .info1 h2, .info3 h2 {
  font-size: 15px;
}

.conteudo2 .text2 p {
  font-size: 11px;
}


.info2{
  margin: 0px 20px 0px 20px;
}

.info1{
  margin: 0px 20px 0px 100px;
}

.info3{
  margin: 0px 100px 0px 20px;
}

.text-flex1 {
  width: 90%;
  height: 350px;
}

.pessoas1-img {
  width: 250px;
  left:-35px;
  margin-top: 40px;
}

.p-text {
  margin-top: 50px;


}

.p-text h1 {
  font-size: 17px;
}

.p-text p {
  font-size: 13px;
}

.botao1 {
  margin-top: 15px;
}

.c-cont .text-flex2 h1 {
  font-size: 22px;
}

.text-flex2 ul li p {
  font-size: 11px;
}

.conteudo4 {
  height: 200px;
}

.c-cont {
  height: 200px;

}

.p-text1 h1 {
  font-size: 22px;
}

.p-text1 p {
  font-size: 12px;
}

.conteudo6{
  margin-top: 60px;
  height: 200px
}

.text-n h1 {
  font-size: 25px;
}

.text-n p {
  font-size: 14px;

}



.emp-img {
  margin-top: 150px;
}

.empresas-img{
  width: 300px;

}

.logo1 h1 {
  font-size: 25px;
}


.text3 {
  margin-top: 15px;

}

.text3 p {
  font-size: 11px;
}


.logo1 {
  width: 175px;

}

.titulo-f1 h1 {
  font-size: 20px;
}

footer{
  height: 280px;
}

.conts{
  margin-top: 50px;

}

}


@media only screen and (max-width: 600px){

  .conteudo1 .text-banner {
    height: 130px;
  }

  .logo {
    position: relative;
    width: 100%; 
    justify-content: center;
}

.side-menu{
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.side-menu img{
  margin-left: 20px;
  margin-top: 15px;
}

.navbar {
  display: flex;
  margin-right: 0;
  flex-direction: column;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 0;

}

ul .navbar li:first-child {
  margin-left: 20px;
  width: 150px;
}

ul .navbar li{
  width: 150px;
  margin-left: 20px;
  margin-top: 20px;
}

.cardapio{
  display: block;
  width: 20px;
}

header{
  display: flex;
}

.l-c {
  right: 20px;
  top: 0;
  margin-top: 15px;
}

.l-c .login li a {
  display: none;
}

.conteudo2 .clientes-img {
  width: 450px;
}

.l-c .cadastro {
  margin-top: 3px;
}

.conteudo1 {
  height: 300px;
}

.conteudo1 .banner .banner-img {
  width: 150px;
}

.conteudo1 .text-banner {
  position: absolute;
  width: 80%;
}

.conteudo1 .text-banner ul li h1 {
  font-size: 23px;
}

.conteudo1 .text-banner ul li h2 {
  font-size: 23px;
}

.conteudo1 .text-banner ul li p {
  width: 240px;
  font-size: 10px;
  margin-top: 10px;
}

.botao {
  margin-top: 15px;
}

.conteudo2 .text1 h1 {
  font-size: 20px;
}

.conteudo2 .text1 p {
  font-size: 12px;
}

.conteudo2 .text2 h1 {
  font-size: 17px;
  margin-top: 10px;
}

.pessoas1-img {
  width: 200px;
  margin-top: 50px;
  left: -40px;
}

.p-text p {
  font-size: 12px;
}

.p-text h1 {
  font-size: 15px;
}

.conts{
  width: 95%;
}

.cont-f1 {
  width: 150px;
}

.logo1 h1 {
  font-size: 20px;
}

.text3 p {
  font-size: 10px;
}

.text3 p {
  font-size: 10px;
}

.text5 a {
  font-size: 9px;
  margin-top: 10px;

}

.text7 a {
  font-size: 9px;
  margin-top: 10px;

}

.text9 a {
  font-size: 9px;
  margin-top: 10px;

}

.titulo-f1 h1 {
  font-size: 17px;
}

footer {
  height: 240px;
}

.text-n p {
  font-size: 12px;
}

.text-n h1 {
  font-size: 20px;
}

.empresas-img {
  width: 250px;
}

.info3 {
  margin: 0px 40px 0px 20px;
}

.info1 {
  margin: 0px 20px 0px 40px;
}

.cont-f4, .cont-f3, .cont-f2 {
  width: 99px;
}

ul .navbar li a {
  font-size: 15px;
}

.text-flex1a{
  height: 305px;
}

.conteudo6{
  margin-top: 30px;
}


.l-c .cadastro li a {
  font-size: 10px;
}

.conteudo1 .text-banner {
  height: 130px;
}

.l-c .cadastro {
  margin-top: 1px;
}

.l-c .cadastro {
  margin-top: 1px;
}

.conteudo1 {
  height: 230px;
}

.conteudo1 .banner .banner-img {
  width: 130px;
  margin-top: 0px;
}

.conteudo1 .text-banner ul li h1 {
  font-size: 18px;
}

.conteudo1 .text-banner ul li h2 {
  font-size: 18px;
}

.conteudo1 .text-banner ul li p {
  width: 170px;
  font-size: 7px;
}

.conteudo2 .text1 h1 {
  font-size: 17px;
}

.conteudo2 .text1 p {
  font-size: 10px;
}

.conteudo2 .clientes-img {
  width: 330px;
}

.conteudo2 .text2 h1 {
  font-size: 15px;
}

.conteudo2 .text2 p {
  font-size: 10px;
}

.info1 {
  margin: 0px 0px 0px 20px;
}

.info3{
  margin: 0px 20px 0px 0px;
}


.text-flex1 {
  height: 300px;
}

.p-text p {
  font-size: 10px;
}

.p-text h1 {
  font-size: 13px;
}

.pessoas1-img {
  margin-top: 60px;
}

.p-text ul{
  margin-left: 25px;
}

.p-text1 p {
  font-size: 10px;
}

.p-text1 h1 {
  font-size: 17px;
}

.pessoas1-img {
  width: 180px;
}

.p-text1 ul{
  margin-left: 25px;
}

.text-flex1a {
  height: 290px;
}

.botao1 {
  font-size: 8px;
}

.text-n h1 {
  font-size: 17px;
}

.text-n p {
  font-size: 10px;
}

.conteudo6 {
  margin-top: 20px;
  height: 200px;
}

.c-cont {
  height: 200px;
  flex-direction: column;
  padding: 10px 0px;
}

.c-cont .text-flex2 {
  position: relative;
  width: 90%;
}

.c-cont .dados {
  position: relative;
  width: 90%;
}

.conteudo4 {
  height: 200px;
}


.empresas-img {
  width: 185px;
}

.cont-f1 {
  width: 115px;
  
}

.text3 p {
  font-size: 7px;
  margin-top: 8px;
}

.text3 {
  margin-top: 0px;
}

.logo1 h1 {
  font-size: 17px;
}

.logo-img {
  width: 25px;
}

.text5 a {
  font-size: 7px;
}

.text7 a {
  font-size: 7px;
}

.text9 a {
  font-size: 7px;
}

.cont-f4, .cont-f3, .cont-f2 {
  width: 75px;
}

.titulo-f1 h1 {
  font-size: 15px;
}

.c-cont .text-flex2 h1 {
  font-size: 17px;
}


.text-flex2 ul li p {
  font-size: 9px;
}


}